<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mehdi.pharmacie">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="ors.api_key"
            android:value="5b3ce3597851110001cf6248595501efd82046e7852e3f3df47a6951" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDj4MYPVlscrsLNaJpMFR7YMgp4pPjP_Jk" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.mehdi.pharmacie.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>